<div class="container-fluid col-md-4 justify-content-center">
  <h1 class="title" center>Account page </h1>

  <div class="container-fluid justify-content-center">
    <form [formGroup]="accountForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>First Name</label>
          <input type="text" disabled="true" formControlName="firstName" placeholder="Enter First Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" [(ngModel)]="currentUser.firstName"/>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Last Name</label>
          <input type="text" disabled="true" formControlName="lastName" class="form-control" placeholder="Enter Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" [(ngModel)]="currentUser.lastName">
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="currentUser.email" [pattern]="emailPattern">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email || f.email.errors.pattern">Email must be a valid email address</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Mobile</label>
          <input type="tel" formControlName="mobile" class="form-control" placeholder="Enter phone number" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" [(ngModel)]="currentUser.mobile" [pattern]="mobileNumberPattern">
          <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
            <div *ngIf="f.mobile.errors.required">Mobile is required</div>
            <div *ngIf="f.mobile.errors.pattern">Mobile number not valid. (example : 0607080901) </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Licence Number (optional)</label>
          <input type="text" formControlName="licenceNum" class="form-control" placeholder="Enter licence number" [(ngModel)]="currentUser.licenceNum">
        </div>
      </div>
      <section class="button-with-link">
        <span>
          <button nbButton class="mr-3 " (click)="updateUser()" *ngIf="currentUser.id !=0">Update contact information</button>
        </span>
      </section>
    </form>
  </div>
</div>
