<div class="container-fluid ">
  <div class="row">
    <div class="justify-content-center">
      <nb-card>
        <nb-card-header>
          <div class="btn-toolbar justify-content-between">
            <div class="btn-group">
              <button class="mr-2" nbButton (click)="addAdmin()"><nb-icon icon="plus-outline"></nb-icon>Add an admin</button>
            </div>
            <div class="btn-group">
              <input type="text" name="search" [(ngModel)]="searchText" nbInput placeholder="Search">
            </div>
          </div>

        </nb-card-header>
        <nb-card-body>
          <div class="row justify-content-center">
            <div class="col-auto">
              <table class="table table-hover table-dark table-responsive">
                <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th></th>
                </tr>
                </thead>
                <tbody *ngFor="let user of admins | filter:searchText">
                <tr>
                  <td (click)="selectUser(user)">{{user.id}}</td>
                  <td (click)="selectUser(user)">{{user.firstName}}</td>
                  <td (click)="selectUser(user)">{{user.lastName}}</td>
                  <td (click)="selectUser(user)">{{user.email}}</td>
                  <td>
                    <button class="mr-2" nbButton (click)="deleteAdmin(user)"><nb-icon icon="close-square-outline"></nb-icon></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-5 justify-content-center" *ngIf="display">
      <nb-card>
        <nb-card-body>
          <app-admin-details
            [adminSelected]="selectedAdmin"
            (adminUpdated)="updateUser($event)"
            (adminAdded)="createAdmin($event)">
          </app-admin-details>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>




