<nb-card>
  <nb-card-header>
    <h1>Management course</h1>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="horses.length==0" class="alert alert-danger" role="alert">Please add an horse before manage your courses !
        <button nbButton routerLink="/horse" routerLinkActive="activebutton">Add</button>
    </div>
    <table class="table table-hover table-dark table-responsive">
      <thead>
      <tr >
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Level</th>
        <th>Rider</th>
        <th>Horse</th>
        <th></th>
      </tr>
      </thead>
<!--      <tbody *ngIf="horses.length>=1">-->
      <tbody>
      <tr *ngFor="let coursePlace of selectedCoursePlaces">
          <td>{{coursePlace.course.title}}</td>
          <td>{{coursePlace.course.startDateTime}}</td>
          <td>{{coursePlace.course.endDateTime}}</td>
          <td>
            <div *ngIf="coursePlace.course.levelStudying == '8'">
              Galop
            </div>
            <div *ngIf="coursePlace.course.levelStudying != '8'">
              {{coursePlace.course.levelStudying}}
            </div>
          </td>
          <td>{{coursePlace.rider.firstName}}</td>
          <td *ngIf="coursePlace.horse">{{coursePlace.horse.name}}</td>
          <td *ngIf="!coursePlace.horse">
            <nb-select value="coursePlace.horse.name">
              <nb-option *ngFor="let h of horses"  value="h" (click)="selectHorse(h)">{{h.name}}</nb-option>
            </nb-select>
          </td>
          <td *ngIf="!coursePlace.horse">
            <button nbButton (click)="validate(coursePlace)">Validate</button>
          </td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>

