<div class="container-fluid ">
  <div class="row">
    <div class="justify-content-center">
      <nb-card>
        <nb-card-header>
          <div class="btn-toolbar justify-content-between">
            <div class="btn-group">
              <button class="mr-2" nbButton (click)="addUser('Teacher')"><nb-icon icon="plus-outline"></nb-icon>Add a teacher</button>
              <button class="mr-2" nbButton (click)="addUser('Admin')"><nb-icon icon="plus-outline"></nb-icon>Add an Admin</button>
            </div>
            <div class="btn-group">
              <input type="text" name="search" [(ngModel)]="searchText" nbInput placeholder="Search">
            </div>
          </div>

        </nb-card-header>
        <nb-card-body>
          <div class="row justify-content-center">
            <div class="col-auto">
              <table class="table table-hover table-dark table-responsive">
                <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                </tr>
                </thead>
                <tbody *ngFor="let user of users | filter:searchText">
                <tr (click)="selectUser(user)">
                  <td>{{user.id}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.email}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-5 justify-content-center" *ngIf="display">
      <nb-card>
        <nb-card-header>
          {{newUser.statut}}
        </nb-card-header>
        <nb-card-body>
          <app-user-details
            [userSelected]="selectedUser"
            (userUpdated)="updateUser($event)"
            (userAdded)="createUser($event)">
          </app-user-details>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>




